Source: xserver-xorg-input-mouse
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Drew Parsons <dparsons@debian.org>, Julien Cristau <jcristau@debian.org>
Build-Depends: debhelper (>= 5), pkg-config, xserver-xorg-dev (>= 2:1.2.99.902), x11proto-input-dev, x11proto-core-dev, x11proto-randr-dev, quilt
Standards-Version: 3.7.2
XS-Vcs-Git: git://git.debian.org/git/pkg-xorg/driver/xserver-xorg-input-mouse
XS-Vcs-Browser: http://git.debian.org/?p=pkg-xorg/driver/xserver-xorg-input-mouse.git

Package: xserver-xorg-input-mouse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver:Depends}
Provides: xserver-xorg-input
Replaces: xserver-xorg (<< 6.8.2-35)
Description: X.Org X server -- mouse input driver
 This package provides the driver for mouse input devices.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This package is built from the X.org xf86-input-mouse driver module.
